* {
	margin: 0px;
	padding: 0px;
}
body {
	background: url(../images/bg1.jpg)  repeat-x 0% 0% fixed;
	background-size: auto 100%;
	font-family: "Microsoft YaHei";
}
img {
	border: none;
}
a {
	text-decoration: none;
}
ul {
	list-style: none outside none;
}
.bg1 {
	position: absolute;
	left: 50%;
	z-index: -7;
	width: 800px;
	height: 600px;
	margin-left: -480px;
}
.bg2 {
	position: absolute;
	height: 100%;
	width: 100%;
	min-width: 800px;
	min-height: 650px;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.3);
	background: radial-gradient(50% 80% ,transparent 40% , rgba(0, 0, 0, 1) ) repeat scroll 0% 0%;
}
.title {
	margin: auto;
	width: 680px;
	height: 100px;
	padding-top: 50px;
}
.title span {
	margin: 50px 20px 20px 80px ;
	font-size: 45px;
	color: rgb(19, 163, 6);
	text-shadow: 0px 0px 5px rgb(0,0,0);
}
.menu  {
	margin: 0px auto;
	width: 680px;
	height: 45px;
}
.menu li {
	float: right;
	margin: 0px 10px;
	width: 120px;
	height: 35px;
	background: url(../images/menubar.png) no-repeat scroll 0% 0%;
}
.menu li a {
	display: block;
	width: 120px;
	height: 35px;
	text-align: center;
	font-size: 20px;
	line-height: 1.6;
	text-shadow: 0px 0px 2px rgb(0,0,0);
}
#page0 {
	color: rgb(238, 233, 251);
	cursor: text;
}
#page1, #page2 {
	color: rgb(236, 199, 9);
}
#main {
	position: relative;/*for ie7-*/
	width: 640px;
	height: 360px;
	margin: 0px auto;
	padding: 20px;
	border-radius: 10px;
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6);
	overflow: hidden;
}
/*IE8及其以下*/
@media \0screen\, screen\9  {   
	#main {  
		filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99000000,endcolorstr=#99000000)
	} 
} 
.tal-panel {
	width: 2000px;
	height: 360px;
}
.panel {
	float: left;
	width: 640px;
	height: 360px;
	margin-right: 20px; 
	color: rgb(240,240,240);
}
.panel0-left {
	width: 200px;
	height: 300px;
	text-align: center;
	float: left;
}
.headIcon {
	height: 150px;
	width: 150px;
	margin: 20px;
}
.panel0-left p {
	font-size: 30px;
	color: rgb(255, 252, 90);
}
.panel0-right {
	float: left;
	width: 370px;
	height: 250px;
	font-size: 20px;
	padding: 30px;
	padding-top: 40px;
}
.panel0-right p {
	margin: 0px 0px 20px 50px;
}
.panel0-right img {
	float: left;
	height: 45px;
	width: 45px;
}
.panel0-right span {
	display: block;
	height: 45px;
	margin-left: 100px;
	line-height: 2.2;
}
.panel0-right a {
	display: block;
	height: 45px;
	margin-left: 100px;
	line-height: 2.2;
	color: rgb(240,240,240);
}
.panel0-right a:hover {
	color: rgb(236, 199, 9);
}
.panel1-content {
	overflow: hidden;
	width: 500px;
	height: 302px;
	margin: 30px auto;
	background: rgb(228, 228, 220);
}
.skill-box {
	float: left;
	width: 130px;
}
.skill-box li {
	position: relative;
	top: -1px;
	height: 76px;
	text-align: center;
}
.skill-box li div {
	width: 120px;
	height: 68px;
	padding-top: 6px;
	line-height: 1.8;
	background: rgb(42, 55, 63);
	border-top: 1px solid rgb(90, 90, 90);
	border-bottom: 1px solid rgb(40, 40, 40);
}
.circle {
	float: left;
	position: relative;
	width: 220px;
	height: 220px;
	margin: 40px 70px;
	-webkit-border-radius: 110px;
	-moz-border-radius: 110px;
	border-radius: 110px;
	background: rgb(238, 238, 238);
	z-index: 0;
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}
.circle div {
	position: relative;
	top: 30px;
	left: 30px;
	width: 160px;
	height: 160px;
	font-size: 23px;
	color: rgb(42, 55, 63);
	text-align: center;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	border-radius: 80px;
	background: rgb(228, 228, 220);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 2;
}
.circle div p {
	padding-top: 48px;
	font-weight: bold;
}
.circle span {
	position: absolute;
	top: 0;
	width: 0;
	height: 0;
    border-style: solid dashed dashed;
	z-index: 1;
}
.one {
	background: rgb(245, 90, 72);
}
.two {
	background: rgb(100, 60, 192);
}
.three {
	background: rgb(102, 217, 55);
}
.four {
	background: rgb(9, 105, 182);
}
.cir-one {
	left: -229px;
	border-width: 110px 339px; 
    border-color: rgb(245, 90, 72) transparent transparent; 
}
.cir-two {
	left: -41px;
	border-width: 110px 151px;  
    border-color: rgb(100, 60, 192) transparent transparent; 
	transform: rotate(126deg);
	-ms-transform: rotate(126deg); /* Internet Explorer */
	-moz-transform: rotate(126deg); /* Firefox */
	-webkit-transform: rotate(126deg); /* Safari 和 Chrome */
	-o-transform: rotate(126deg); /* Opera */
}
.cir-three {
	left: 54px;
	border-width: 110px 56px;  
    border-color: rgb(102, 217, 55) transparent transparent; 
	transform: rotate(207deg);
	-ms-transform: rotate(207deg);
	-moz-transform: rotate(207deg);
	-webkit-transform: rotate(207deg);
	-o-transform: rotate(207deg);
}
.cir-four {
	left: 54px;
	border-width: 110px 56px;  
    border-color: rgb(9, 105, 182) transparent transparent; 
	transform: rotate(261deg);
	-ms-transform: rotate(261deg);
	-moz-transform: rotate(261deg);
	-webkit-transform: rotate(261deg);
	-o-transform: rotate(261deg);
}
.panel2 li {
	margin-left: 35px;
	width: 550px;
	height: 50px;
	border-bottom: 2px dashed rgb(29, 104, 26);
	background: url(../images/icon6.png) 0px 13px no-repeat;
}
.panel2 li a {
	position: relative;
	top: 15px;
	left: 45px;
	color: rgb(225,225,225);
	font-size: 18px;
}
.panel2 li a:hover {
	color: rgb(255, 252, 90);
}