
@import url(http://fonts.googleapis.com/css?family=Chango);

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	outline: none;
}

#bg{
	position: absolute;
	width: 100%;
	height: 100%;
	min-width: 1200px;
	min-height: 640px;
	background: #fe6;
	z-index: -10;
}

#header{
	width: 100%;
	height: 50px;
	position: absolute;
	left: 0;
	background: url(img/header-bg.png);
	background-repeat: repeat-x;
}

#logo{
	float: left;
	margin: 2px 0 0 20px;
	font-size: 25px;
	font-family: 'Chango', cursive;
	background: #ff0;
	border: 3px dotted #f30;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	color: #f00;
}

#difficulty,#images{
	height: 30px;
	width: 70px;
	position: absolute;
	top: 5px;
	cursor: pointer;
	border-radius: 10px;
	background: #ff0;
	border: 3px dotted #f30;
	color: #f00;
	font-family: "幼圆";
	font-weight: bolder;
	font-size: 15px;
}
#difficulty{
	right: 100px;
}
#images{
	right: 180px;
}

#restart,#sound{
	width: 35px;
	height: 35px;
	position: absolute;
	top: 3px;
	cursor: pointer;
}

#restart{
	right: 52px;
	background: url(img/restart.png);
}

#sound{
	right: 10px;
	background: url(img/music.png);
}

#watch-panel{
	width: 250px;
	height: 250px;
	position: absolute;
	top: 50%;
	right: 80px;
	margin-top: -160px;
	-webkit-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	transform: rotate(15deg);
	cursor: pointer;
}

#top1{
	width: 60px;
	height: 30px;
	margin: 0px auto;
	background: #d90;
	-webkit-box-shadow: 10px 10px 20px #000;
	-moz-box-shadow: 10px 10px 20px #000;
	-o-box-shadow: 10px 10px 20px #000;
	box-shadow: 10px 10px 20px #000;
}

#top2{
	width: 40px;
	height: 30px;
	margin: -1px auto;
	background: #ec0;
	-webkit-box-shadow: 10px 10px 10px #000;
	-moz-box-shadow: 10px 10px 10px #000;
	-o-box-shadow: 10px 10px 10px #000;
	box-shadow: 10px 10px 10px #000;
}

#watch{
	width: 210px;
	height: 210px;
	margin: -2px auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: 20px solid #f00;
	background: #fff;
	-webkit-box-shadow: 10px 10px 10px #000;
	-moz-box-shadow: 10px 10px 10px #000;
	-o-box-shadow: 10px 10px 10px #000;
	box-shadow: 10px 10px 10px #000;
}

#counter{
	width: 176px;
	height: 76px;
	margin: 65px auto;
	background: #333;
	border: 2px solid #000;
	text-align: center;
	line-height: 80px;
	color: #ff0;
	font-size: 38px;
	font-weight: bolder;
	font-family: Tahoma;
}

#answer{
	position: absolute;
	left: -320px;
	top: 50%;
	z-index: 5px;
	margin-top: -230px;
	width: 350px;
	height: 300px;
}

#pole1,#pole2{
	position: absolute;
	z-index: -2;
	width: 30px;
	height: 30px;
	background: #d90;
	-webkit-box-shadow: 1px 3px 5px #000 ;
	-moz-box-shadow: 1px 3px 5px #000;
	-o-box-shadow: 1px 3px 5px #000;
	box-shadow: 1px 3px 5px #000;
}
#pole1{
	top: 80px;
}
#pole2{
	top: 190px;
}

#answer img{
	margin-left: 20px;
	width: 290px;
	height: 290px;
	float: left;
	border-color:#d90;
	border-style:solid;
	border-radius: 5px;
	border-width: 5px;
}
#answer span{
	float: left;
	display: block;
	width: 20px;
	height: 100px;
	background:rgb(255, 170, 34);
	margin-top:100px;
	border-radius: 0px 20px 20px 0px;
	cursor: pointer;
}
#tri{
	position: absolute;
	top: 139px;
	right: 6px;
	display: inline-block;
	width: 0px;
	height: 0px;
	border-width: 10px;
	border-style: dashed dashed dashed solid;
	border-color: transparent transparent transparent rgb(230, 20, 20);
}
#answer span:hover{
	height: 200px;
	margin-top:50px;
}

#puzzle{
	width: 402px;
	height: 402px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -264px;
	margin-left: -201px;
	background: #f00;
	-webkit-box-shadow: 15px 15px 10px #000;
	-moz-box-shadow: 15px 15px 10px #000;
	-o-box-shadow: 15px 15px 10px #000;
	box-shadow: 15px 15px 10px #000;
}

.drop-zone{
	margin: 3px 0px 0px 3px;
	float: left;
	background: url(img/dz-bg.png);
}

#dock-outer{
	width: 1010px;
	height: 160px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -510px;
	border: 5px solid #840;
	border-bottom: none;
	-webkit-border-radius: 50px 50px 0 0;
	-moz-border-radius: 50px 50px 0 0;
	-o-border-radius: 50px 50px 0 0;
	border-radius: 50px 50px 0 0;
	background: #fa2;
}

#dock{
	width: 990px;
	height: 150px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -500px;
	border: 5px dashed #840;
	border-bottom: none;
	-webkit-border-radius: 40px 40px 0 0;
	-moz-border-radius: 40px 40px 0 0;
	-o-border-radius: 40px 40px 0 0;
	border-radius: 40px 40px 0 0;
	background: #fa2;
}

#dock-inner{
	width: 900px;
	height: 130px;
	margin: 10px auto;
	overflow: hidden;
}

.arrow{
	width: 40px;
	height: 40px;
	margin-top: 60px;
	opacity: 0.5;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
	cursor: pointer;
}
.arrow:hover{
	opacity: 1;
}
#left-arrow{
	background: url(img/left.png);
	margin-left: 3px;
	float: left;
}
#right-arrow{
	background: url(img/right.png);
	margin-right: 3px;
	float: right;
}

#slice-container{
	width: 2130px;
	height: 130px;
}

.dz0, .dz1, .dz2, .dz3, .dz4, .dz5, .dz6, .dz7, .dz8, .dz9, .dz10, .dz11, .dz12, .dz13, .dz14, .dz15, .dz16, .dz17, .dz18, .dz19, .dz20, .dz21, .dz22, .dz23, .dz24{
	display: inline-block;
	cursor: move;
	margin-right: 7px;
}

#hint{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

#hint-msg{
	width: 760px;
	height: 360px;
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -405px;
	padding: 20px;
	border: 5px dotted #fff;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-o-border-radius: 40px;
	border-radius: 40px;
	text-align: center;
	font-family: "幼圆";
	font-size: 60px;
	font-weight: bolder;
	color: #fff;
}

#close-hint{
	width: 300px;
	height: 80px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	bottom: 50px;
	border: 5px dotted #fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	text-align: center;
	line-height: 80px;
	font-size: 60px;
	color: #fff;
	font-family: 'Chango', cursive;
	cursor: pointer;
}
#close-hint:hover{
	background: #fff;
	color: #000;
}
#close-hint:active{
	width: 280px;
	height: 60px;
	left: 50%;
	margin-left: -140px;
	bottom: 60px;
	font-size: 50px;
	line-height: 60px;
}

#pause{
	width: 408px;
	height: 408px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -264px;
	margin-left: -201px;
	background: rgba(0,0,0,0.7);
	cursor: pointer;
	display: none;
}
#pause-icon{
	width: 200px;
	height: 200px;
	margin: 51px auto;
	border: 50px solid #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
#pause-icon-inner{
	width: 0;
	height: 0;
	margin: 40px 55px;
	border-top: 60px solid #fff;
	border-right: 120px solid #fff;
	border-bottom: 60px solid #fff;
	border-left: 120px solid #fff;
	border-color:transparent transparent transparent #fff;
}

#success{
	width: 500px;
	height: 300px;
	position:  absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -260px;
	border: 10px dashed #3f0;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-o-border-radius: 40px;
	border-radius: 40px;
	text-align: center;
	line-height: 150px;
	font-family: "黑体";
	font-weight: bolder;
	font-size: 60px;
	color: #3f0;
	text-shadow: 0px 0px 5px #000;
	-webkit-animation: shake 0.2s;
	-webkit-animation-iteration-count: 4;
	-moz-animation: shake 0.2s;
	-moz-animation-iteration-count: 4;
	-o-animation: shake 0.2s;
	-o-animation-iteration-count: 4;
	animation: shake 0.2s;
	animation-iteration-count: 4;
	display: none;
}

@-webkit-keyframes shake{
	25% {-webkit-transform: rotate(30deg);}
	75% {-webkit-transform: rotate(-30deg);}
	100% {-webkit-transform: rotate(0deg);}
}
@-moz-keyframes shake{
	25% {-moz-transform: rotate(30deg);}
	75% {-moz-transform: rotate(-30deg);}
	100% {-moz-transform: rotate(0deg);}
}
@-o-keyframes shake{
	25% {-o-transform: rotate(30deg);}
	75% {-o-transform: rotate(-30deg);}
	100% {-o-transform: rotate(0deg);}
}
@keyframes shake{
	25% {transform: rotate(30deg);}
	75% {transform: rotate(-30deg);}
	100% {transform: rotate(0deg);}
}